### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [3]:
# Print first 5 rows of purchase data to confirm import is OK.
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [4]:
# Display the total number of players in 2 steps.

# Step 1: Establish total_players, a Panda series counting the unique players.
total_players = pd.Series(purchase_data["SN"].unique())

# Step 2: Display those total players in a list, then display that list as the series "Total Players", within a data frame.
pd.DataFrame({"Total Players": [total_players.count()]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Calculate number of items by first creating a list of unique values. You will print the count in print statement later.
unique_items = pd.Series(purchase_data["Item ID"].unique())

# Calculate average price
average_price = purchase_data["Price"].mean()

# Calculate number of purchases
total_purchases = purchase_data["Purchase ID"].count()

# Calculate total revenue, the sum of prices
total_revenue = purchase_data["Price"].sum()

# Create data frame with values
purchasing_analysis = pd.DataFrame({
    "Unique Items": [unique_items.count()],
    "Average Price": [average_price],
    "Number of Purchases": [total_purchases],
    "Total Revenue": [total_revenue]})

# Format the Average Price and Total Revenue values.
purchasing_analysis.style.format({
    "Average Price":"${:,.2f}",
    "Total Revenue": "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
# Use Pandas .groupby to break down Gender by types (Male, Female, other). 
gender_data = purchase_data.groupby("Gender")

# Count total unique SNs of each gender using nunique method. (This avoids counting the same player multiple times.)
total_gender_count = gender_data.nunique()["SN"]

# Count total number of players by gender, then divide by total players for percentage.
percentage_of_players = total_gender_count / [total_players.count()]

In [10]:
# Create data frame for Gender (from groupby item)
total_gender_count_df = pd.DataFrame({"Total Count":total_gender_count})

# Create data frame for Percentage of Players
percentage_of_players_df = pd.DataFrame({"Percentage of Players": percentage_of_players})

# Merge both data frames
gender_demographics = total_gender_count_df.merge(percentage_of_players_df, on="Gender", how="left")

# Formatting: Remove the index "Gender" from first column.
gender_demographics.index.name = None

gender_demographics

                       Total Count  Percentage of Players
Female                          81               0.140625
Male                           484               0.840278
Other / Non-Disclosed           11               0.019097

In [8]:
# Formatting: percentage sign and decimals
gender_demo.style.format({'Percentage of Players': "{:.2%}"})

# Formatting: sort by from greatest to least
#gender_demographics.sort_values(["Total Count"], ascending = False)

#

gender_demo

                       Total Count  Percentage of Players
Gender
Female                          81               0.140625
Male                           484               0.840278
Other / Non-Disclosed           11               0.019097

In [9]:
# Use Pandas .groupby to break down Gender by types (Male, Female, other). 
gender_data = purchase_data.groupby("Gender")

# Count total unique SNs of each gender using nunique method. (This avoids counting the same player multiple times.)
total_gender_count = gender_data.nunique()["SN"]
total_gender_count_df = pd.DataFrame({"Total Count":total_gender_count})

# Count total number of players by gender, then divide by total players for percentage.
percentage_of_players = total_gender_count / [total_players.count()] * 100
percentage_of_players_df = pd.DataFrame({"Percentage of Players": percentage_of_players})

# Create new merged data frame with values
gender_demographics = total_gender_count_df.merge(percentage_of_players_df, on="Gender", how="left")


#= pd.DataFrame({
#    "Total Count": total_gender_count,
#    "Percentage of Players": percentage_of_players
#})

###########################FORMATTING ISSUES##############################

# Formatting: round percentage numbers to 2 digits after decimal and add % sign.
# gender_demographics.style.format({'Total Count': lambda x: "±{:.2f}".format(x)})
#test3.style.format({'B': lambda x: "{:.2%}".format(x)}) 
gender_demographics.style.format({'Percentage of Players': "{:.2%}"})



gender_demographics.head()

                       Total Count  Percentage of Players
Gender
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# Use gender_data again to obtain purchase count, avg purchase price, etc by gender

# Calculate count of purchases
purchases_bygender = gender_data["Purchase ID"].count()

# Calculate average purchase price
avg_purchaseprice_bygender = gender_data["Price"].sum() / purchases_bygender

# Calculate total purchase value
total_purchase_value = gender_data["Price"].sum()

# Calculate avg total purchase per person
avg_purchase_perperson = total_purchase_value / total_gender_count

#avg_purchase_perperson

# Create data frame with values
purchasing_analysis = pd.DataFrame({
    "Purchase Count": purchases_bygender,
    "Average Purchase Price": avg_purchaseprice_bygender,
    "Total Purchase Value": total_purchase_value,
    "Avg Total Purchase per Person": avg_purchase_perperson})

purchasing_analysis

###########################FORMATTING ISSUES##############################

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# Establish bins for ages
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Sort data into defined bins.
purchase_data["Age Groups"]= pd.cut(purchase_data["Age"], age_bins, labels=group_names)

purchase_data[["Age Groups", 'Age']].head()
purchase_data["Age Groups"]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame